.btn {
  width: 250px;
  height: 75px;
  border-radius: 35px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  background-color: $white;
  border: 0 none;
  padding: 4px 6px 0px;
  &.orange {
    background-color: $cool-orange;
    color: white;
  }
  &.transparent {
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
  }
}


.buttons-action {
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 35px;
  right: 25px;
}

.buttons-vertical {
    .btn {
      display: block;
      margin-top: 30px;
      &:first-child {
        margin-top: 0;
      }
    }
}


