/**
  Normal reset
*/
/* stylelint-disable */
/* line 2, ../sass/_reset.scss */
img, legend {
  border: 0;
}

/* line 2, ../sass/_reset.scss */
legend, td, th {
  padding: 0;
}

/* line 2, ../sass/_reset.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 2, ../sass/_reset.scss */
body {
  margin: 0;
}

/* line 2, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_reset.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 2, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 2, ../sass/_reset.scss */
[hidden], template {
  display: none;
}

/* line 2, ../sass/_reset.scss */
a {
  background-color: transparent;
}

/* line 2, ../sass/_reset.scss */
a:active, a:hover {
  outline: 0;
}

/* line 2, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 2, ../sass/_reset.scss */
b, optgroup, strong {
  font-weight: 700;
}

/* line 2, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 2, ../sass/_reset.scss */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* line 2, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 2, ../sass/_reset.scss */
small {
  font-size: 80%;
}

/* line 2, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 2, ../sass/_reset.scss */
sup {
  top: -.5em;
}

/* line 2, ../sass/_reset.scss */
sub {
  bottom: -.25em;
}

/* line 2, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 2, ../sass/_reset.scss */
figure {
  margin: 1em 40px;
}

/* line 2, ../sass/_reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 2, ../sass/_reset.scss */
pre, textarea {
  overflow: auto;
}

/* line 2, ../sass/_reset.scss */
code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

/* line 2, ../sass/_reset.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 2, ../sass/_reset.scss */
button {
  overflow: visible;
}

/* line 2, ../sass/_reset.scss */
button, select {
  text-transform: none;
}

/* line 2, ../sass/_reset.scss */
button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 2, ../sass/_reset.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 2, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 2, ../sass/_reset.scss */
input {
  line-height: normal;
}

/* line 2, ../sass/_reset.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* line 2, ../sass/_reset.scss */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/* line 2, ../sass/_reset.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 2, ../sass/_reset.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 2, ../sass/_reset.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 2, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
  Config file that contains centralized variables
*/
/*
body {
  background: green !important;
  @include breakpoint($small)  { background: orange !important; }
  @include breakpoint($medium) { background: teal !important; }
  @include breakpoint($large)  { background: orchid !important; }
  @include breakpoint($up-sm)  { background: aliceblue !important; }
}
*/
/* line 86, ../sass/_config.scss */
.no-ul-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 91, ../sass/_config.scss */
.no-ul-list > li {
  display: inline-block;
  list-style-type: none;
  margin: 2px;
}

/* line 98, ../sass/_config.scss */
.tmp-shadow, .blocked-style {
  box-shadow: 0 0 2px 0 #666666;
}

/* line 102, ../sass/_config.scss */
.tmp-shadow-none {
  box-shadow: none;
}

/* line 106, ../sass/_config.scss */
.blocked-style {
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 5px;
  background: #f7f7f7;
}

/* line 2, ../sass/base/_base.scss */
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

/* line 9, ../sass/base/_base.scss */
body {
  font-family: "Poppins";
  font-size: 1em;
  line-height: 165%;
  background-color: black;
}

/* line 21, ../sass/base/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 500;
  font-family: "Poppins";
  padding: 0 0 0.3em;
  margin: 0;
}

/* line 34, ../sass/base/_base.scss */
h1 {
  font-size: 40px;
  line-height: 165%;
}

/* line 39, ../sass/base/_base.scss */
h2 {
  font-size: 36px;
  line-height: 145%;
}

/* line 44, ../sass/base/_base.scss */
h3 {
  font-size: 180%;
  line-height: 145%;
}

/* line 49, ../sass/base/_base.scss */
h4 {
  font-size: 170%;
  line-height: 145%;
}

/* line 54, ../sass/base/_base.scss */
h5,
h6 {
  font-size: 140%;
  line-height: 145%;
}

/* line 60, ../sass/base/_base.scss */
body .menu-item {
  padding-top: 0;
  margin: 0;
}

/* line 69, ../sass/base/_base.scss */
a,
a:link,
a:visited {
  text-decoration: none;
  color: #666666;
  cursor: pointer;
}
/* line 76, ../sass/base/_base.scss */
a:hover,
a:link:hover,
a:visited:hover {
  color: #333;
  text-decoration: underline;
}

/* line 82, ../sass/base/_base.scss */
body p {
  margin: 3px 0 10px;
}

/* line 87, ../sass/base/_base.scss */
svg {
  max-width: 100%;
  height: auto;
}

/* line 98, ../sass/base/_base.scss */
blockquote {
  padding: 0 15px;
  color: #333;
  border-left: 4px solid #f7f7f7;
}
/* line 103, ../sass/base/_base.scss */
blockquote:last-child {
  margin-bottom: 0;
}

/* line 108, ../sass/base/_base.scss */
pre {
  white-space: pre-wrap;
  overflow-x: auto;
}
/* line 112, ../sass/base/_base.scss */
pre code {
  border: 1px dotted #333;
  background: #f7f7f7;
  padding: 2px 9px;
  display: block;
  font-size: 85%;
}

/* line 127, ../sass/base/_base.scss */
ol {
  padding: 0 0 0 10px;
  margin: 0 0 10px;
}
/* line 131, ../sass/base/_base.scss */
ol li {
  margin: 4px 0;
  padding: 0;
}

/* line 137, ../sass/base/_base.scss */
ol ol {
  padding: 0 0 0 22.5px;
}

/* line 141, ../sass/base/_base.scss */
ol ol ol {
  padding: 0 0 0 22.5px;
}

/* line 146, ../sass/base/_base.scss */
ul {
  padding: 0 0 0 10px;
  margin: 0 0 10px;
}
/* line 150, ../sass/base/_base.scss */
ul li {
  margin: 0;
  padding: 0;
}

/* line 156, ../sass/base/_base.scss */
ul ul {
  padding: 0 0 0 22.5px;
}

/* line 160, ../sass/base/_base.scss */
ul ul ul {
  padding: 0 0 0 22.5px;
}

/* line 168, ../sass/base/_base.scss */
table {
  width: 100%;
}
/* line 171, ../sass/base/_base.scss */
table th {
  font-weight: 600;
  text-align: left;
  background-color: #f7f7f7;
  padding: 4px 5px;
}
/* line 178, ../sass/base/_base.scss */
table td {
  border: 0;
  outline: none;
  padding: 4px 5px;
}
/* line 184, ../sass/base/_base.scss */
table thead {
  border: 1px solid #f7f7f7;
  border-bottom: 0;
}
/* line 189, ../sass/base/_base.scss */
table tbody {
  border: 1px solid #f7f7f7;
}
/* line 193, ../sass/base/_base.scss */
table tbody tr:nth-child(even) {
  background-color: #f7f7f7;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}

/* line 1, ../sass/base/_buttons.scss */
.btn {
  width: 250px;
  height: 75px;
  border-radius: 35px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #fff;
  border: 0 none;
  padding: 4px 6px 0px;
}
/* line 11, ../sass/base/_buttons.scss */
.btn.orange {
  background-color: #fb4c20;
  color: white;
}
/* line 15, ../sass/base/_buttons.scss */
.btn.transparent {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

/* line 23, ../sass/base/_buttons.scss */
.buttons-action {
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 35px;
  right: 25px;
}

/* line 32, ../sass/base/_buttons.scss */
.buttons-vertical .btn {
  display: block;
  margin-top: 30px;
}
/* line 35, ../sass/base/_buttons.scss */
.buttons-vertical .btn:first-child {
  margin-top: 0;
}

/* line 2, ../sass/base/_form.scss */
.main form {
  background-color: #fff;
  width: 480px;
  height: 250px;
  border-radius: 30px;
  box-shadow: 2px 8px 10px #c86e5a;
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-family: 'Poppins Light';
}
/* line 12, ../sass/base/_form.scss */
.main form input {
  border: 0 none;
  width: 90%;
  font-size: 30px;
  color: #333;
  margin-top: 80px;
  text-align: center;
}
/* line 20, ../sass/base/_form.scss */
.main form input:focus {
  outline: none;
}
/* line 23, ../sass/base/_form.scss */
.main form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #A1A1A1;
}
/* line 26, ../sass/base/_form.scss */
.main form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #A1A1A1;
}
/* line 29, ../sass/base/_form.scss */
.main form :-ms-input-placeholder {
  /* IE 10+ */
  color: #A1A1A1;
}
/* line 32, ../sass/base/_form.scss */
.main form :-moz-placeholder {
  /* Firefox 18- */
  color: #A1A1A1;
}
/* line 35, ../sass/base/_form.scss */
.main form footer.footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #f3f3f3;
  width: 100%;
  padding: 25px 0;
  display: table;
}
/* line 42, ../sass/base/_form.scss */
.main form footer.footer .block {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 47, ../sass/base/_form.scss */
.main form footer.footer button {
  border: 0 none;
  cursor: pointer;
  color: #A1A1A1;
  background-color: #fff;
  font-size: 25px;
}
/* line 53, ../sass/base/_form.scss */
.main form footer.footer button.disabled {
  color: #d2d2d2;
}
/* line 60, ../sass/base/_form.scss */
.main .submit-success {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 2px 8px 10px #c86e5a;
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-weight: 700;
  width: 195px;
  height: 195px;
  display: table;
}
/* line 73, ../sass/base/_form.scss */
.main .submit-success h1 {
  font-weight: 900;
  font-size: 40px;
  color: #333;
  text-shadow: 0 0 0;
  font-family: 'Poppins SemiBold';
  display: table-cell;
  vertical-align: bottom;
}
/* line 81, ../sass/base/_form.scss */
.main .submit-success h1:before {
  background: transparent url("../img/icons/check.png") 0 0 no-repeat;
  width: 83px;
  height: 70px;
  content: '';
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

/* line 5, ../sass/layout/_containers.scss */
.cog--mq {
  max-width: 67.5em;
  margin-left: auto;
  margin-right: auto;
  margin: 10px auto;
}
/* line 12, ../lib/susy/sass/susy/output/support/_clearfix.scss */
.cog--mq:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 11, ../sass/layout/_containers.scss */
.cog--full {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../lib/susy/sass/susy/output/support/_clearfix.scss */
.cog--full:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 15, ../sass/layout/_containers.scss */
.main {
  position: relative;
}
/* line 17, ../sass/layout/_containers.scss */
.main .logo {
  position: absolute;
  z-index: 15;
  color: white;
  top: 20px;
  left: 30px;
  font-size: 18px;
}

/* line 1, ../sass/components/_main_content.scss */
.main {
  background-color: #6bc1bf;
  width: 800px;
  height: 480px;
  display: table-cell;
  vertical-align: middle;
}
/* line 7, ../sass/components/_main_content.scss */
.main.orange {
  background-color: #fb4c20;
}
/* line 10, ../sass/components/_main_content.scss */
.main h1 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  text-shadow: 1px 2px 7px #AAAAAA;
}
/* line 17, ../sass/components/_main_content.scss */
.main h1.big {
  font-size: 40px;
}
/* line 21, ../sass/components/_main_content.scss */
.main .next-icon,
.main .previous-icon {
  padding-right: 45px;
  padding-left: 45px;
}
/* line 25, ../sass/components/_main_content.scss */
.main .next-icon a,
.main .previous-icon a {
  display: inline-block;
}
/* line 30, ../sass/components/_main_content.scss */
.main .buttons-action .btn {
  color: #fff;
  background-color: #fb4c20;
}
/* line 35, ../sass/components/_main_content.scss */
.main .inline-content {
  display: table;
  width: 100%;
}
/* line 38, ../sass/components/_main_content.scss */
.main .inline-content > * {
  display: table-cell;
  vertical-align: middle;
}
/* line 42, ../sass/components/_main_content.scss */
.main .inline-content h1 {
  text-align: right;
}
/* line 46, ../sass/components/_main_content.scss */
.main .inline-content-right {
  display: table;
  width: 100%;
}
/* line 49, ../sass/components/_main_content.scss */
.main .inline-content-right > * {
  display: table-cell;
  vertical-align: middle;
}
/* line 53, ../sass/components/_main_content.scss */
.main .inline-content-right h1 {
  text-align: left;
}
/* line 56, ../sass/components/_main_content.scss */
.main .inline-content-right .previous-icon {
  text-align: right;
  padding-right: 30px;
}
/* line 59, ../sass/components/_main_content.scss */
.main .inline-content-right .previous-icon img {
  position: relative;
  top: -9px;
}

/* line 1, ../sass/components/_slideshow.scss */
.slideshow {
  width: 800px;
  height: 480px;
  overflow: hidden;
}

/* line 7, ../sass/components/_slideshow.scss */
.slideshow ul {
  /* 3 images donc 3 x 100% */
  width: 300%;
  height: 480px;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 15, ../sass/components/_slideshow.scss */
.slideshow li {
  float: left;
  position: relative;
  z-index: 5;
}
/* line 19, ../sass/components/_slideshow.scss */
.slideshow li .color-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 480px;
  overflow: hidden;
  display: inline-block;
  z-index: 10;
}

/* line 30, ../sass/components/_slideshow.scss */
.slideshow .buttons-language {
  color: transparent;
  position: absolute;
  bottom: 95px;
  z-index: 20;
  width: 100%;
  text-align: center;
}
/* line 37, ../sass/components/_slideshow.scss */
.slideshow .buttons-language .btn:first-child {
  margin-right: 40px;
}

/* line 42, ../sass/components/_slideshow.scss */
li.li-p1 .color-filter {
  background-color: #3a54e2;
  opacity: .87;
}
/* line 46, ../sass/components/_slideshow.scss */
li.li-p1 .btn {
  color: #3a54e2;
}

/* line 51, ../sass/components/_slideshow.scss */
li.li-p2 .color-filter {
  background-color: #fb4c20;
  opacity: .87;
}
/* line 55, ../sass/components/_slideshow.scss */
li.li-p2 .btn {
  color: #fb4c20;
}

/* line 60, ../sass/components/_slideshow.scss */
li.li-p3 .color-filter {
  background-color: #40b30f;
  opacity: .87;
}
/* line 64, ../sass/components/_slideshow.scss */
li.li-p3 .btn {
  color: #40b30f;
}

/* line 69, ../sass/components/_slideshow.scss */
li.li-p4 .color-filter {
  background-color: #e28c23;
  opacity: .87;
}
/* line 73, ../sass/components/_slideshow.scss */
li.li-p4 .btn {
  color: #e28c23;
}

/* line 2, ../sass/components/_counter.scss */
.counter.main {
  background-color: #fff;
}
/* line 5, ../sass/components/_counter.scss */
.counter .counter-wrapper-3 {
  background: transparent url("../img/icons/3.png") 0 0 no-repeat;
  width: 290px;
  height: 290px;
}
/* line 10, ../sass/components/_counter.scss */
.counter .counter-wrapper-2 {
  background: transparent url("../img/icons/2.png") 0 0 no-repeat;
  width: 290px;
  height: 290px;
}
/* line 15, ../sass/components/_counter.scss */
.counter .counter-wrapper-1 {
  background: transparent url("../img/icons/1.png") 0 0 no-repeat;
  width: 290px;
  height: 290px;
}
/* line 20, ../sass/components/_counter.scss */
.counter div[class*="counter-wrapper"] {
  position: relative;
  margin: 0 auto;
}
/* line 23, ../sass/components/_counter.scss */
.counter div[class*="counter-wrapper"] h2 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50px;
  font-size: 130px;
  font-weight: 700;
}

/* line 1, ../sass/components/_postcard.scss */
.main.postcard-wrapper {
  background-color: #b4b4b4;
}
/* line 3, ../sass/components/_postcard.scss */
.main.postcard-wrapper .content-wrapper {
  display: table;
  padding-left: 25px;
}
/* line 6, ../sass/components/_postcard.scss */
.main.postcard-wrapper .content-wrapper > * {
  display: table-cell;
  vertical-align: middle;
}

/* line 12, ../sass/components/_postcard.scss */
.postcard {
  width: 470px;
  height: 327px;
  position: relative;
  background-color: #fff;
  padding-top: 10px;
  box-shadow: 5px 10px 25px #AAA;
}
/* line 19, ../sass/components/_postcard.scss */
.postcard .top,
.postcard .bottom {
  display: table;
  width: 100%;
}
/* line 23, ../sass/components/_postcard.scss */
.postcard .top > *,
.postcard .bottom > * {
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 135px;
  padding: 5px;
}
/* line 30, ../sass/components/_postcard.scss */
.postcard .top img,
.postcard .bottom img {
  width: 200px;
  height: 135px;
}
/* line 34, ../sass/components/_postcard.scss */
.postcard .top .left,
.postcard .bottom .left {
  text-align: right;
}
/* line 37, ../sass/components/_postcard.scss */
.postcard .top .right,
.postcard .bottom .right {
  text-align: left;
}
/* line 42, ../sass/components/_postcard.scss */
.postcard .bottom .left,
.postcard .bottom .right {
  padding-top: 0px;
}
/* line 48, ../sass/components/_postcard.scss */
.postcard .top .left,
.postcard .top .right {
  padding-bottom: 0px;
}
/* line 55, ../sass/components/_postcard.scss */
.postcard .top .left img {
  width: 135px;
  height: 135px;
  margin: 0 35px 0 auto;
}
/* line 62, ../sass/components/_postcard.scss */
.postcard .aside {
  position: absolute;
  right: 0;
  width: 30px;
  height: 100%;
  top: 0;
}
/* line 68, ../sass/components/_postcard.scss */
.postcard .aside span {
  transform: rotate(-90deg);
  letter-spacing: 5px;
  font-size: 8px;
  line-height: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  display: inline-block;
  left: -54px;
  top: 171px;
  text-transform: uppercase;
}
/* line 82, ../sass/components/_postcard.scss */
.postcard .footer {
  text-align: center;
  line-height: 0;
}
/* line 85, ../sass/components/_postcard.scss */
.postcard .footer span {
  letter-spacing: 5px;
  font-size: 8px;
  line-height: 0;
  padding: 0;
  margin: 0;
  display: inline-block;
}
/* line 94, ../sass/components/_postcard.scss */
.postcard + div {
  padding-left: 25px;
}

/* stylelint-disable */
/* stylelint-enable */
